<footer class="bg-black small text-center text-white-50">
        <div class="container pt-5">
          <p>Build with Love by BentukCinta.com dan MamangKebun.com - Bali wedding souvenirs</p>
        </div>
    </footer>


    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> -->
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script type="text/javascript">
    $('.carousel').carousel({
    interval: 10000,
    pause: false
    })
    </script>
    <script type="text/javascript">
    AOS.init({duration: 1000});
    </script>
    <script>
    $(document).ready(function(){
    $("#myModal").modal('show');
    });
    </script>
</body>
</html>