<section id="about" class="about">
    <div class="row">
        <div class="about-content">
          <h1>Om Swatyastu</h1>
          <p class="text-center">Atas Asung Kertha Wara Nugraha Ida Sang Hyang Widhi Wasa/Tuhan Yang Maha Esa kami bermaksud mengundang Bapak/Ibu/Saudara/i pada Upacara Manusa Yadnya Pawiwahan (Pernikahan) Putra dan Putri kami</p>
        </div>

        <div class="about-content">
          <h2>{{ .Site.Params.pengantin.longnameWanita}}</h2>
          <p>{{ .Site.Params.pengantin.detailWanita}} </p>
          <p>{{ .Site.Params.pengantin.ortuWanita}} </p>
          <p>{{ .Site.Params.pengantin.alamatWanita}} </p>
        </div>

        <div class="about-content">
          <h2>{{ .Site.Params.pengantin.longnamePria}} </h2>
          <p>{{ .Site.Params.pengantin.detailPria}} </p>
          <p>{{ .Site.Params.pengantin.ortuPria}} </p>
          <p>{{ .Site.Params.pengantin.alamatPria}} </p>
        </div>
    </div>
 


            
            

      <div class="row">
        <div class="col-lg-8 mx-auto pt-5">
          
          <p class="text-white mb-3">Merupakan suatu kehormatan dan kebahagiaan bagi kami, apabila Bapak / Ibu / Saudara / i berkenan hadir untuk memberikan doa restu, pada:</p>

            <div class="date-box">
          <p class="text-white mb-3">Hari/tanggal : {{ .Site.Params.acara.hari}}, {{ .Site.Params.acara.tanggal}} {{ .Site.Params.acara.bulan}} {{ .Site.Params.acara.tahun}}</br>
Pukul : {{ .Site.Params.acara.pukul}}</br>
Alamat : {{ .Site.Params.acara.alamat}}</div>

          <p class="text-white">Atas Kehadiran serta doa dan restu Bapak / Ibu / Saudara / i, kami ucapkan terima kasih</p>
          
          <h2 class="text-white mb-5">Om Shanti Shanti Shanti Om</h2>

        </div>

      </div>


    </div>
  </section>