<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Undangan Online BentukCinta.com">
    <meta name="author" content="bentukcinta">

    <meta property="og:title" content="{{ .Site.Params.ogTitle }} {{ .Site.Params.pengantin.shortnamePria }} & {{ .Site.Params.pengantin.shortnameWanita }}" />
    <meta property="og:url" content="https://bentukcinta.com/{{ .Site.Params.ogUrl }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://bentukcinta.com/{{ .Site.Params.ogUrl }}/img/{{ .Site.Params.ogImage }}" />
    <meta property="og:description" content="{{ .Site.Params.description }}">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/bentukcinta.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

      <!-- Vendor JS -->
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <title>Bentuk Cinta | {{ .Site.Params.pengantin.shortnamePria }} & {{ .Site.Params.pengantin.shortnameWanita }}</title>
</head>

<body>